<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="admin">

	<!-- 관리자 관리 - 부서별 관리자 리스트 전체 조회  -->
	<select id="allMemberList" parameterType="Member" resultType="Member">
		SELECT
			MEM_NO as memNo,
			MEM_PWD as memPwd,
			MEM_POSITION as memPosition,
			DEPT_CODE as deptCode,
			MEM_NAME as memName,
			MEM_BIRTH as memBirth,
			MEM_GENDER as memGender,
			MEM_ADDRESS as memAddress,
			MEM_PHONE as memPhone,
			MEM_TELL as memTell,
			MEM_EMAIL as memEmail,
			MEM_PROFILE as memProfile,
			MEM_HOLIDAY_COUNT as memHolidayCount,
			MEM_JOIN_DATE as memJoinDate,
			MEM_RESIGN_YN as memResignYN,
			MEM_RESIGN_DATE as memResignDate,
			MEM_DEL_YN as memDelYN,
			MEM_DEL_DATE as memDelDate,
			MEM_RIGHT_CODE as memRightCode,
			MEM_RIGHT_DATE as memRightDate,
            DEPT_NAME as deptName		
        FROM MEMBER
		INNER JOIN DEPARTMENT USING (DEPT_CODE)
		WHERE MEM_DEL_YN='N' AND MEM_RESIGN_YN='N'
		ORDER BY MEM_NO DESC
	</select>
	
	<!-- 삭제 조회 - 삭제된 사원 조회  -->
	<select id="selectDeleteMember" parameterType="hashmap" resultType="Member">
		SELECT
			MEM_NO as memNo,
			MEM_PWD as memPwd,
			MEM_POSITION as memPosition,
			DEPT_CODE as deptCode,
			MEM_NAME as memName,
			MEM_BIRTH as memBirth,
			MEM_GENDER as memGender,
			MEM_ADDRESS as memAddress,
			MEM_PHONE as memPhone,
			MEM_TELL as memTell,
			MEM_EMAIL as memEmail,
			MEM_PROFILE as memProfile,
			MEM_HOLIDAY_COUNT as memHolidayCount,
			MEM_JOIN_DATE as memJoinDate,
			MEM_RESIGN_YN as memResignYN,
			MEM_RESIGN_DATE as memResignDate,
			MEM_DEL_YN as memDelYN,
			MEM_DEL_DATE as memDelDate,
			MEM_RIGHT_CODE as memRightCode,
			MEM_RIGHT_DATE as memRightDate,
            DEPT_NAME as deptName
        FROM (SELECT ROW_NUMBER()OVER(ORDER BY M.MEM_RESIGN_DATE DESC) AS RNUM, M.*, D.DEPT_NAME
                FROM MEMBER M
                INNER JOIN DEPARTMENT D ON (M.DEPT_CODE=D.DEPT_CODE)
                WHERE (MEM_DEL_YN='Y' OR MEM_RESIGN_YN='Y'))
        WHERE RNUM BETWEEN ${start} AND ${end} 		
	</select>
	
	<!-- 삭제 조회 - 삭제된 사원 조회 - 삭제된 사원 수 -->
	<select id="countDeleteMemberCount" resultType="int">
		SELECT
			COUNT(*) as memDeleteCount
		FROM MEMBER
		WHERE MEM_DEL_YN='Y' OR MEM_RESIGN_YN='Y'
	</select>
</mapper>
